.h5p-structure-strip-overlay-container {
  background-color: var(--h5p-theme-ui-base);
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 0.5em 0 rgba(105, 105, 105, 0.4);
  color: var(--h5p-theme-text-primary);
  left: 50%;
  max-height: 100%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  visibility: visible;
  max-width: 100%;
  z-index: 10;

  &.h5p-structure-strip-overlay-invisible {
    opacity: 0;
    visibility: hidden;
  }

  .h5p-structure-strip-overlay-outer {
    display: flex;
    flex-direction: column;
    gap: var(--h5p-theme-spacing-xxs);
    margin: var(--h5p-theme-spacing-m);

    .h5p-structure-strip-overlay-headline {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: var(--h5p-theme-spacing-s);

      .h5p-structure-strip-overlay-title {
        flex-grow: 1;
        font-size: var(--h5p-theme-font-size-xl);
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .h5p-structure-strip-overlay-button-close {
        align-self: flex-start;
        background-color: var(--h5p-theme-ui-base);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        flex-grow: 0;
        flex-shrink: 0;
        height: var(--h5p-theme-spacing-l);
        padding: calc(0.25 * var(--h5p-theme-spacing-s));
        position: relative;
        transition: box-shadow .3s, border-color .3s;
        width: var(--h5p-theme-spacing-l);

        &::before {
          color: var(--h5p-theme-text-primary);
          content: '\e910';
          font-family: "h5p-theme", sans-serif;
          font-size: var(--h5p-theme-font-size-s);
          font-weight: bold;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          background-color: var(--h5p-theme-alternative-base);
        }

        &:focus-visible {
          outline: 2px ridge var(--h5p-theme-contrast-cta-white);
          outline-offset: 2px;
        }
      }
    }

    .h5p-structure-strip-overlay-content-wrapper {
      display: flex;
      flex: 1;
      min-height: 0px; /* Required by some browsers */

      .h5p-structure-strip-overlay-content {
        font-size: var(--h5p-theme-font-size-m);
        overflow: auto;

        p:first-child {
          margin-top: 0;
        }

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.h5p-structure-strip-overlay-blocker {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(44, 44, 44, 0.9);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s, linear 0s, visibility 0s linear 0s;
  transition: opacity 0.5s linear 0s, visibility 0s linear 0s;
  z-index: 1;

  &.h5p-structure-strip-overlay-display-none{
    display: none;
  }
}

@container h5p-structure-strip (width < 768px) {
  .h5p-structure-strip .h5p-structure-strip-overlay-container {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}
