  .h5p-structure-strip-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .h5p-structure-strip-text-strips-container {
      display: flex;
      flex-direction: column;
      gap: var(--h5p-theme-spacing-xxs);
      width: 100%;
      height: 100%;

      .h5p-structure-strip-text-strip {
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .h5p-structure-strip-text-strip-description-container {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex: 1 1 10rem;

          .h5p-structure-strip-text-strip-description-status {
            text-align: right;
            font-size: calc(var(--h5p-theme-font-size-m) * 0.85);
            font-style: italic;
          }

          .h5p-structure-strip-text-strip-description-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1 0;
            justify-content: space-between;
            padding: var(--h5p-theme-spacing-xxs) var(--h5p-theme-spacing-s);

            .h5p-structure-strip-text-strip-description-title {
              align-items: flex-end;
              flex-grow: 0;
              font-size: var(--h5p-theme-font-size-l);
              font-weight: bold;

              .h5p-structure-strip-text-strip-description-title-text {
                margin-right: calc(0.35 * var(--h5p-theme-spacing-s));
              }

              .h5p-structure-strip-text-strip-button-hint {
                background-color: transparent;
                border: 2px solid transparent;
                border-radius: 50%;
                cursor: pointer;
                height: var(--h5p-theme-font-size-xl);
                line-height: 1.5;
                padding: 0;
                position: relative;
                top: calc(-1 * var(--h5p-theme-spacing-xxs));
                transition: box-shadow .3s, border-color .3s;
                width: var(--h5p-theme-font-size-xl);

                &:hover {
                  outline: 2px solid var(--focus-contrast-color);
                }

                &::after {
                  content: var(--icon-material-icons-help);
                  font-family: 'Material Icons', sans-serif;
                  font-size: var(--h5p-theme-font-size-xl);
                  left: 50%;
                  position: absolute;
                  top: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
        }

        .h5p-structure-strip-text-strip-input-container {
          flex: 6 1 21.5rem;

          .h5p-structure-strip-text-strip-input-field {
            background-color: var(--h5p-theme-background);
            border-color: var(--h5p-theme-stroke-1);
            box-sizing: border-box;
            color: var(--h5p-theme-text-primary);
            font-family: sans-serif;
            font-size: var(--h5p-theme-font-size-m);
            height: 100%;
            line-height: 1.5;
            margin: 0;
            padding: var(--h5p-theme-spacing-xxs);
            resize: none;
            width: 100%;

            &:focus-visible {
              outline: 2px ridge var(--h5p-theme-main-cta-base);
            }

            &:disabled {
              color: var(--h5p-theme-text-third);
            }
          }
        }
      }
    }
  }
