.h5p-structure-strip {
}

.h5p-structure-strip-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.h5p-structure-strip-text-strips-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.h5p-structure-strip-text-strip {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  width: 100%;
}

.h5p-structure-strip-text-strip-description-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  min-width: 200px;
  padding: 0.5em 1em;
}

.h5p-structure-strip-text-strip-description-title {
  flex-grow: 0;
  font-size: 1.1em;
  font-weight: bold;
}

.h5p-structure-strip-text-strip-description-text {
}

.h5p-structure-strip-text-strip-description-status {
  text-align: right;
  font-style: italic;
}

.h5p-structure-strip-text-strip-input-container {
  flex-grow: 10;
  min-width: 400px;
}

.h5p-structure-strip-text-strip-input-field {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0.5em;
  resize: none;
  width: 100%;
}

.h5p-structure-strip-display-none {
  display: none;
}

.h5p-structure-strip .h5p-question-copy.h5p-joubelui-button::before {
  content: "\F0C5";
}

.h5p-structure-strip .h5p-question-scorebar {
  display: none;
}

.h5p-structure-strip .h5p-question-buttons.has-scorebar {
  margin-left: 1em;
  width: calc(100% - 1.5em);
}
