.h5p-structure-strip {
  --icon-h5p-theme-copy: "\e912";
  --icon-material-icons-help: "\e8fd";

  container-name: h5p-structure-strip;
  container-type: inline-size;

  .h5p-structure-strip-message {
    text-align: center;
  }



  .h5p-structure-strip-text-strip-progress-bar-container {
    width: 100%;
    height: var(--h5p-theme-spacing-xs);
    flex-grow: 0;
    flex-shrink: 0;
  }

  .h5p-structure-strip-text-strip-progress-bar {
    background-size: var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-s);
    height: 100%;
    width: 0;

    &.h5p-structure-strip-text-strip-progress-bar-pattern-light {
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    }

    &.h5p-structure-strip-text-strip-progress-bar-pattern-light.h5p-structure-strip-text-strip-progress-bar-pattern-exceeded {
      background-image: linear-gradient(90deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, .15));
    }

    &.h5p-structure-strip-text-strip-progress-bar-pattern-dark {
      background-image: linear-gradient(-45deg, rgba(0, 0, 0, .15) 25%, transparent 25%, transparent 50%,rgba( 0, 0, 0, .15) 50%,rgba(0, 0, 0, .15) 75%, transparent 75%, transparent);
    }

    &.h5p-structure-strip-text-strip-progress-bar-pattern-dark.h5p-structure-strip-text-strip-progress-bar-pattern-exceeded {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
    }
  }

  .h5p-structure-strip-display-none {
    display: none;
  }

  .h5p-question-evaluation-container {
    .h5p-question-scorebar {
      opacity: 0;
      visibility: hidden;
    }

    .h5p-question-buttons {
      .h5p-theme-button.h5p-theme-copy::before {
        content: var(--icon-h5p-theme-copy);
        font-family: "h5p-theme", sans-serif;
      }
    }
  }
}

.h5p-content:not(.using-mouse) .h5p-structure-strip .h5p-structure-strip-text-strip-button-hint:focus {
  outline: 2px solid var(--focus-contrast-color);
}
