.h5p-structure-strip {
}

.h5p-structure-strip-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.h5p-structure-strip-text-strips-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.h5p-structure-strip-text-strip {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  width: 100%;
}

.h5p-structure-strip-text-strip-description-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 170px;
}

.h5p-structure-strip-text-strip-progress-bar-container {
  width: 100%;
  height: 0.5em;
  flex-grow: 0;
  flex-shrink: 0;
}

.h5p-structure-strip-text-strip-progress-bar {
  background-size: 1rem 1rem;
  height: 100%;
  width: 0;
}

.h5p-structure-strip-text-strip-progress-bar.h5p-structure-strip-text-strip-progress-bar-pattern-light {
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.h5p-structure-strip-text-strip-progress-bar.h5p-structure-strip-text-strip-progress-bar-pattern-light.h5p-structure-strip-text-strip-progress-bar-pattern-exceeded {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, .15));
}

.h5p-structure-strip-text-strip-progress-bar.h5p-structure-strip-text-strip-progress-bar-pattern-dark {
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, .15) 25%, transparent 25%, transparent 50%,rgba( 0, 0, 0, .15) 50%,rgba(0, 0, 0, .15) 75%, transparent 75%, transparent);
}

.h5p-structure-strip-text-strip-progress-bar.h5p-structure-strip-text-strip-progress-bar-pattern-dark.h5p-structure-strip-text-strip-progress-bar-pattern-exceeded {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
}

.h5p-structure-strip-text-strip-description-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.h5p-structure-strip-text-strip-description-title {
  align-items: flex-end;
  flex-grow: 0;
  font-size: 1.1em;
  font-weight: bold;
}

.h5p-structure-strip-text-strip-description-title-text {
  margin-right: 0.35em;
}

.h5p-structure-strip-text-strip-button-hint {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  height: 1.4em;
  padding: 0;
  position: relative;
  top: -0.5em;
  transition: box-shadow .3s, border-color .3s;
  width: 1.4em;
}

.h5p-content:not(.using-mouse) .h5p-structure-strip .h5p-structure-strip-text-strip-button-hint:focus {
  border-color: rgba(0, 0, 0, .4);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  outline: none;
}

.h5p-structure-strip .h5p-structure-strip-text-strip-button-hint:hover,
.h5p-structure-strip .h5p-structure-strip-text-strip-button-hint:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px rgba(0, 0, 0, 0.4);
}

.h5p-structure-strip-text-strip-button-hint::after {
  content: "\e8fd";
  font-family: 'Material Icons';
  font-size: 1.5em;
  position: absolute;
  left: -0.09em;
  top: -0.075em;
}

.h5p-structure-strip-text-strip-description-status {
  text-align: right;
  font-size: 0.85em;
  font-style: italic;
}

.h5p-structure-strip-text-strip-input-container {
  flex: 6 1 344px;
}

.h5p-structure-strip-text-strip-input-field {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1em;
  height: 100%;
  line-height: 1.25em;
  margin: 0;
  padding: 0.5em;
  resize: none;
  width: 100%;
}

.h5p-structure-strip-display-none {
  display: none;
}

.h5p-structure-strip .h5p-question-copy.h5p-joubelui-button::before {
  content: "\F0C5";
}

.h5p-structure-strip .h5p-question-scorebar {
  display: none;
}

.h5p-structure-strip .h5p-question-buttons.has-scorebar {
  margin-left: 1em;
  width: calc(100% - 1.5em);
}
