.h5p-structure-strip {
  .h5p-structure-strip-overlay-container {
    background-color: #ffffff;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 0.5em 0 rgba(105, 105, 105, 0.4);
    left: 50%;
    max-height: 100%;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;
    visibility: visible;
    max-width: 100%;
    z-index: 10;

    &.h5p-structure-strip-overlay-invisible {
      opacity: 0;
      visibility: hidden;
    }
  }

  .h5p-structure-strip-overlay-outer {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }

  .h5p-structure-strip-overlay-headline {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
  }

  .h5p-structure-strip-overlay-title {
    flex-grow: 1;
    font-size: 1.25em;
    font-weight: bold;
    margin-right: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .h5p-structure-strip-overlay-button-close {
    align-self: flex-start;
    background-color: transparent;
    background-image: url('../images/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    height: 2.5em;
    transition: box-shadow .3s, border-color .3s;
    width: 2.5em;

    &:hover {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    }

    &:focus {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    }
  }

  .h5p-structure-strip-overlay-content-wrapper {
    display: flex;
    flex: 1;
    min-height: 0px; /* Required by some browsers */
  }

  .h5p-structure-strip-overlay-content {
    overflow: auto;
  }

  .h5p-structure-strip-overlay-blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(44, 44, 44, 0.9);
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s, linear 0s, visibility 0s linear 0s;
    transition: opacity 0.5s linear 0s, visibility 0s linear 0s;
    z-index: 1;

    &.h5p-structure-strip-overlay-display-none{
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .h5p-structure-strip .h5p-structure-strip-overlay-container {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}

.h5p-content:not(.using-mouse) .h5p-structure-strip .h5p-structure-strip-overlay-button-close:focus {
  border-color: rgba(0, 0, 0, .4);
  outline: none;
}
